<div ng-app="Scheduler">

  <div ng-controller="MonthController">
    <table border="2">
      <tr>
        <th>Domingo</th>
        <th>Segunda</th>
        <th>Terça</th>
        <th>Quarta</th>
        <th>Quinta</th>
        <th>Sexta</th>
        <th>Sábado</th>
      </tr>
      <tr ng-repeat="line in lines()">
        <td class="day" ng-click="registerEvent(line, column)" ng-repeat="column in columns()">
          <li ng-repeat="event in eventsByDay(line, column)">
            {{ event.name }}
          </li>
        </td>
      </tr>
    </table>
  </div>

  <div ng-view=""> </div>
  
</div>