<div class="monthNavigation">
  <span>
    <p>
      {{month_name}}
    </p>
  </span>
  <span>
    <p ng-click="previousMonth()"><< Anterior</p>
  </span>
  <span>
    <p ng-click="today()">Hoje</p>
  </span>
  <span>
    <p ng-click="nextMonth()">Seguinte >></p>
  </span>
</div>
<table border="2">
  <tr>
    <th>Segunda</th>
    <th>Terça</th>
    <th>Quarta</th>
    <th>Quinta</th>
    <th>Sexta</th>
    <th>Sábado</th>
    <th>Domingo</th>

  </tr>
  <tr ng-repeat="week in weeks()">
    <td class="day" ng-repeat="day in week.days">
      <strong ng-click="showEvents(day.fdate())">{{day.fdate()}}</strong>
      <a open-dialog="{{day.fdate()}}" class="showModal">Add new event</a>
      <ul id="dayEventsNames-{{day.fdate()}}">
        <li ng-repeat="event in day.events">
          <p ng-click="editEvent(event.id)">{{ event.name }}</p>
        </li
      </ul>
    </td>
  </tr>
</table>

<div id="eventModal" class="modal hide fade" ng-controller="EventModalController" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <label>Name</label>
    <input type="text" ng-model="name" />
    <label>Description</label>
    <input type="text" ng-model="description" />
    <input type="hidden" ng-model="date" />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="saveEventModal" class="btn btn-primary" data-dismiss="modal" ng-click="AddEvent()">Save changes</button>
  </div>
</div>